<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DMSAPI_USER" value="subwiz" />
    <add key="DMSAPI_Password" value="subwiz!pwd" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpIssueService"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://seldmsw107.corpusers.net:81/IMSeREST/IssueService.svc/IssueService_basic"
        binding="basicHttpBinding" bindingConfiguration="basicHttpIssueService"
        contract="ServiceReference1.IssueService" name="basicHttpIssueService" />
    </client>
  </system.serviceModel>
</configuration>