<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="name" value="chris"/>
    <add key="dir" value="abc"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpIssueService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://seldmsw107.corpusers.net:81/IMSeREST/IssueService.svc/IssueService_basic"
        binding="basicHttpBinding" bindingConfiguration="basicHttpIssueService"
        contract="ServiceReference1.IssueService" name="basicHttpIssueService" />
    </client>
  </system.serviceModel>
</configuration>